* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgb(168, 204, 252);
    background: linear-gradient(87deg, rgba(168, 204, 252, 1) 0%, rgba(194, 232, 251, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    height: 50vh;
    width: 70vw;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #fff;
    border-radius: 25px;
}

.container h2 {
    margin: 20px;
}

.paiInputs1 {
    width: 95%;
    height: 17vh;
    margin: 20px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

input {
    max-height: 19px;
    max-width: 179px;
}

.paiBotoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

.paiInputs2 {
    width: 95%;
    height: 17vh;
    margin: 20px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

}